<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/03266e41-5249-4999-8cb7-598d74f516d1/resourceGroups/Asp/providers/Microsoft.ApiManagement/service/orderly/apis/backend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>false</UpdateApiOnPublish>
    <ResourceId>/subscriptions/03266e41-5249-4999-8cb7-598d74f516d1/resourceGroups/Asp/providers/Microsoft.Web/sites/orderlyonclick</ResourceId>
    <ResourceGroup>Asp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://orderlyonclick.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d782d9ae-9826-4890-8346-ec95f0a8c8af</ProjectGuid>
    <PublishUrl>https://orderlyonclick.scm.azurewebsites.net/</PublishUrl>
    <UserName>$orderlyonclick</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>